@import "colors.scss";

#feedback {
  background: $color-white;
  border-radius: 32px;
  bottom: 32px;
  box-shadow: 0 0 2px $color-gray-1, 0 0 2px $color-gray-0;
  color: $color-white;
  cursor: pointer;
  display: flex;
  height: 64px;
  position: absolute;
  right: 32px;
  transition: all 0.5s;
  width: 64px;

  img {
	bottom: 48px;
	position: fixed;
	right: 48px;
	transition: all 0.5s;
  }

  &:hover {
	box-shadow: 0 0 4px $color-gray-1, 0 0 4px $color-gray-0;
	color: $color-black;
	height: 320px;
	padding: 16px;
	width: 640px;

	img {
	  opacity: 0;
	}
  }
}
