@import "colors.scss";

aside {
  align-items: center;
  display: grid;
  grid-row-gap: 16px;
  grid-template-rows: auto;
  height: calc(100% - 64px);
  justify-content: center;
  left: 32px;
  position: absolute;
  top: 32px;
  width: 80px;

  .button {
	background: $color-white;
	border-radius: 32px;
	box-shadow: 0 0 2px $color-gray-1, 0 0 2px $color-gray-0;
	height: 64px;
	width: 64px;

	&:hover {
	  box-shadow: 0 0 4px $color-gray-1, 0 0 4px $color-gray-0;
	}
  }
}

main {
  display: grid;
  grid-column-gap: 16px;
  grid-row-gap: 16px;
  grid-template-rows: auto;

  height: calc(100% - 64px);
  margin: 32px auto;
  width: calc(100% - 96px - 96px - 96px);

  .layer {
	align-items: center;
	background: $color-white;
	border: 1px solid;
	border-radius: 16px;
	color: $color-7;
	display: flex;
	font-size: 20pt;
	justify-content: center;
  }

  .layer-1 {
	border-color: $color-5;
  }

  .layer-2 {
	border-color: $color-6;
  }

  .layer-3 {
	border-color: $color-2;
  }

  .layer-4 {
	border-color: $color-7;
  }

  .layer-5 {
	border-color: $color-3;
  }

  .layer-6 {
	border-color: $color-4;
  }

  .layer-7 {
	border-color: $color-0;
  }
}
